#version=DEVEL
# System authorization information
#authselect [options]

# Use cdrom installation media
cdrom
# use official repo to install required packages
repo --name="AppStream" --baseurl="http://mirror.centos.org/centos/8/AppStream/x86_64/os/"

# Use text install
cmdline

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname={{ inventory_hostname }}

# Root password
rootpw --iscrypted {{ host_passwords.root | password_hash('sha512_crypt') }}

# System timezone
timezone Europe/Amsterdam --isUtc

ignoredisk --only-use=vda
# Partition clearing information
clearpart --disklabel gpt --all --initlabel --drives=vda

# Partitions list
part biosboot --fstype=biosboot --size=1
part /boot --size=500 --fstype=xfs
part pv.1 --grow --encrypted --luks-version luks2 --passphrase="{{ host_passwords.luks_passphrase }}"

volgroup centos_{{ inventory_hostname }} pv.1
logvol swap --recommended --vgname=centos_{{ inventory_hostname }} --name="swap"
logvol / --size=1 --grow --fstype=xfs --vgname=centos_{{ inventory_hostname }} --name="root"

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda

# Do not configure the X Window System
skipx

# System services
services --enabled="chronyd"

# Reboot after install
shutdown

%packages
@^server-product-environment
kernel
chrony
policycoreutils-python-utils
yum-utils
setroubleshoot-server

%end

%post --interpreter=/usr/bin/bash
# Install requirements (epel repo)
yum install -y epel-release

# Install dracut-sshd
curl -o /etc/yum.repos.d/gsauthof-dracut-sshd-epel-8.repo https://copr.fedorainfracloud.org/coprs/gsauthof/dracut-sshd/repo/epel-8/gsauthof-dracut-sshd-epel-8.repo
yum install -y dracut-sshd

# Add dracut-sshd configuration
echo 'SSHD_OPTS="-p 222"' >> /etc/sysconfig/dracut-sshd

# Add ssh public keys
mkdir -m 600 /root/.ssh
cat >/root/.ssh/authorized_keys <<EOF
{{ users | selectattr('is_admin') | join("\n", 'pubkeys') }}
EOF

# Manually generate host ssh keypairs (for first boot)
ssh-keygen -A

# generate initramfs
dracut --force --kver $(rpm -qa kernel | cut -d'-' -f2-)

# Add grub configuration for dracut-crypt-ssh
sed -i -E 's/(GRUB_CMDLINE_LINUX=\".*)\"/\1 rd\.neednet=1 ip=dhcp\"/' /etc/default/grub
grub2-editenv - unset kernelopts
grub2-mkconfig --output /etc/grub2.cfg

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
