#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use cdrom installation media
cdrom
# use official repo to install required packages
repo --name="CentOS" --baseurl="http://mirror.centos.org/centos/7/os/x86_64/"

# Use text install
text

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname={{ inventory_hostname }}

# Root password
rootpw --iscrypted {{ host_passwords.root | password_hash('sha512_crypt') }}
# System timezone
timezone Europe/Amsterdam --isUtc

ignoredisk --only-use=vda
# Partition clearing information
clearpart --all --initlabel --drives=vda

# Partitions list
part /boot --size=500 --fstype=xfs
part pv.1 --grow --encrypted --passphrase="test"

volgroup centos_{{ inventory_hostname }} pv.1
logvol swap --recommended --vgname=centos_{{ inventory_hostname }} --name="swap"
logvol / --size=1 --grow --fstype=xfs --vgname=centos_{{ inventory_hostname }} --name="root"

# System bootloader configuration
bootloader --location=mbr --boot-drive=vda --iscrypted --password={{ host_passwords.grub | password_hash('grub_pbkdf2_sha512') }}

# System services
services --enabled="chronyd"

# Reboot after install
#shutdown

%packages
@^minimal
@core
kernel
chrony
policycoreutils-python
yum-utils
setroubleshoot-server

%end

%post --interpreter=/usr/bin/bash
# Install requirements (epel repo)
yum install -y epel-release

# Install dracut-crypt-ssh
curl -o /etc/yum.repos.d/rbu-dracut-crypt-ssh-epel-7.repo https://copr.fedorainfracloud.org/coprs/rbu/dracut-crypt-ssh/repo/epel-7/rbu-dracut-crypt-ssh-epel-7.repo
yum install -y dracut-crypt-ssh

# Add ssh public keys
mkdir -m 600 /root/.ssh
cat >/root/.ssh/authorized_keys <<EOF
{{ users | selectattr('is_admin') | join("\n", 'pubkeys') }}
EOF

# generate initramfs
dracut --force --kver $(rpm -qa kernel | cut -d'-' -f2-)

# Add grub configuration for dracut-crypt-ssh
sed -i -E 's/(GRUB_CMDLINE_LINUX=\".*)\"/\1 rd\.neednet=1 ip=dhcp\"/' /etc/default/grub
grub2-mkconfig --output /etc/grub2.cfg

%end

%addon com_redhat_kdump --disable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
